<%- include("../partials/header") %>
<form action="/skills/<%= skill.id%>?_method=PUT" method="POST">
    <label>
        Skill Name:
        <input type="text" name="skill" value="<%= skill.skill %>">
    </label>
    <br>
    <label>
        Skill Proficiency:
        <label for="proficient"></label><input checked type="radio" id="proficient" name="proficiency" value="Proficient">
        Proficient</label>
        <label for="somewhat"><input type="radio" id="somewhat" name="proficiency" value="Somewhat Proficient">
       Somewhat Proficient</label>
        <label for="not">
<input type="radio" id="not" name="proficiency" value="Not Proficient">Not Proficient</label>
        </label>
    <br>
    <label>
        Skill Description:
        <textarea name="description" rows="5" cols="33"><%= skill.description %></textarea>
    </label>
    <br>
    <input class="button" type="submit" value="Edit Skill" >
</form>
<%- include("../partials/footer") %>