 <%- include("../partials/header") %>
        <h1>My skills as a Developer!</h1>
        <h3>Skill: <%= skills.skill %></h3>
        <h3>Proficiency: <%= skills.proficiency %></h3>
        <p>Experience: <%= skills.description %></p>
        <form action="/skills/<%= skills.id %>?_method=Delete" method="POST" class="delete-form">
            <button>DELETE THIS SKILL</button>
        </form>
<%- include("../partials/footer") %>
